/nbproject/private/
/Template_rh-war/nbproject/private/
/Template_rh-ejb/nbproject/private/
/Template_rh-ejb/build/
/Template_rh-war/build/
/Template_rh-ejb/dist/
/build/
/Template_rh-war/dist/
/dist/